<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    {% block title %}

    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
</head>
<body>
  <header>
      <div class="logo">
			<a href="#">
			<img src="{% static '195.jpg' %}" alt="Crispy AI">
			</a>
      </div>
      <h1>Crispy AI</h1>
      <nav>
          <ul>
				<li><a href="{% url  'BaseApp' %}"><i class="fa fa-home"></i></a></li>
				<li><a href="#"><i class="fa fa-th-large"></i></a></li>
				<li><a href="/users/"><i class="fa fa-user"></i></a></li>
				<li><a href="#"><i class="fa fa-eye"></i></a></li>
          </ul>
      </nav>
  </header>
  <label for="nav-toggle" class="nav-toggle-label">
      <span>
      </span>
  </label>
    {% block header %}

    {% endblock %}
  <main>
    {% block content %}

    {% endblock %}
  </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{#  footer #}
  <footer class="footer footer--index">
    <div class="footer__auxiliary">
		<div class="menu  menu--footer ">
		  <div class="menu__inner">
		    <ul class="menu__list">
		        <li class="menu__item">
		          <a class="menu__link " href="https://github.com/oss2019/crispy-ai/blob/master/README.md" title="About" >
		            <span class="menu__link-copy">About</span>
		          </a>
		        </li>
		        <li class="menu__item">
		          <a class="menu__link " href="#" title="License">
        		    <span class="menu__link-copy">License</span>
        		  </a>
        		</li>
                <li class="menu__item">
		          <a class="menu__link " href="https://github.com/oss2019/crispy-ai" title="Become a Contributor">
        		    <span class="menu__link-copy">Become a Contributor</span>
        		  </a>
        		</li>
    		</ul>
          </div>
  		</div>
	</div>
   </footer>

</body>
</html>
