:root {
  --background: rgba(0, 214, 170, .85);
}


#Footer {
    position: relative;
    height:30%;
    margin-bottom: -10px;
    margin-top: 5%;
    flex-shrink: none;
    background-color: #3a3f46;
    color: white;
}

#Footer {
    background-color: #3a3f46;
    color: white;
}

#Footer .row {
    margin-bottom: 60px;
}

#Footer h5 {
    font-size: 15px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
	margin-bottom: 30px;
}

#Footer .logo{
    margin-top: 10px;
}

#Footer .second-bar .logo a{
    color:white;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

#Footer a {
    color: #d2d1d1;
    text-decoration: none;
}

#Footer a:hover,
#Footer a:focus {
    text-decoration: none;
    color: blue;
}

#Footer .second-bar {
    text-align: center;
    background-color: #33373e;
}

#Footer .second-bar a {
    font-size: 22px;
    color: #9fa3a9;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
}

#Footer .second-bar a:hover {
    text-decoration: none;
}

#Footer .social-icons {
    float:right;
}


#Footer .facebook:hover {
    color: #0077e2;
}

#Footer .google:hover {
    color: #ef1a1a;
}

#Footer .twitter:hover {
    color: #00aced;
}
/*#to place footer at the bottom of page*/
@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }

    #myFooter .info{
        text-align: center;
    }
}

html,
body {
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
    background: white;
    /*background: linear-gradient(to right, #0062E6, #33AEFF);*/
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#Footer{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}