body {
  font-family: Arial;
  margin: 0;
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

#support_image{
  height:200px;
  width:200px;
  border-radius: 15px 50px;
  box-shadow: 4px 8px #888888;
  float:right;
}
