<!-- templates/home.html-->

<!--
This is the implementation of HOME page, with the
basic login/logout feature.

Todo:
$ Create a dashboard
and user page
$ user page to be linked with this
-->
{% extends 'base.html' %}

{% block title %}
    <title>login</title>
{% endblock %}

{% block header %}
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <h3> Hello {{ user.username }}!</h3>
        </div>
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">Login</a>
    {% endif %}
{% endblock %}
