<!-- templates/home.html-->

<!--
This is the implementation of HOME page, with the
basic login/logout feature.

Todo:
$ Create a dashboard
and user page
$ user page to be linked with this
-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 5%;">
        {% if user.is_authenticated %}
                <div class="card mx-auto" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title"> Hello {{ user.username }}!</h5>
                <h6 class="card-subtitle mb-2 text-muted">Welcome</h6>
                  <form action="{% url 'logout' %}" method="get" style="display:inline;">
                   <button class="btn btn-success" >Logout</button>
                  </form>

                  <form action="{% url 'profile' %}" method="get" style="display:inline;">
                      <button class="btn btn-success" >Profile</button>
                  </form>
              {% else  %}
                <a href="#" class="card-link">Another link</a>
              </div>
                </div>
        {% endif %}



    </div>
{% endblock %}
